.oculta{font-size: 0px; margin: 0px; padding: 0px;}
.content{
    background-color: #F6F6F6;
}
/* padding */
.padding-10{padding: 0px 10px;}
.padding-20{padding: 0px 20px;}
.padding-30{padding: 0px 30px;}
.padding-40{padding: 0px 40px;}
.padding-50{padding: 0px 50px;}
.padding-60{padding: 0px 60px;}
.padding-70{padding: 0px 70px;}
.padding-80{padding: 0px 80px;}
/* utilidades */
.logo{max-width: 160px;margin-top: -8px;float: left;}
/* header */
.header{background-color: #FFF;float: left;width: 100%;padding: 5px;box-shadow: 1px 2px #ccc;margin-bottom: 18px;}
.header-container{display: flex; align-items: center; justify-content: center;}
.button-login{color: #2B4580;}

.menu ul{
    list-style: none;
    float: left;
    margin-top: 27px;
}
.menu ul li{
    display: inline;
}
.menu ul li a{
    margin: 10px 30px;
    font-weight: bold;
    font-size: 25px;
}
.menu ul li a:hover{
    color: #4263B3;
    text-decoration: none;
}
img.user-dashboard{
    width: 55px;
    float: left;
    border-radius: 2em;
    
}
.user-name {
    float: left;
    margin: 6px 1px;
}
element.style {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 1px, 0px);
}
.dropdown-menu {
}
.user-dash {
    float: right;
}
.btn-default:focus{
    box-shadow: none;
}

/* slide */
/* .slide{padding-bottom: 40px;} */
.titulo-slide{
    color: #fff;
}
.descricao-slide{
    color: #fff;
}
.btn-saiba-mais{
    color:#fff;
    background-color: #F8B702;
    border-radius: 6px;
    padding: 10px 20px;
}


/* background-parallax */
.background-parallax-slide{background-image: url("../img/agua.jpg");
width: 100%;background-repeat: no-repeat;background-size: cover;box-shadow: 1px 2px #ccc;padding-bottom: 2%;}
.slide a:hover{text-decoration: none;}
/* about */
.about p{
    padding: 10px;
}
/* package */
.package {}

/* login-card */
.card{width: 18rem;box-shadow: 1px 2px #ccc;width: 200px;height: 300px;overflow: hidden;}
.card:hover{border:solid thin #293F78;transition: all .2s ease-in-out;}

.card-body p{margin-bottom:0px;font-size:12px;}
.card-body h4{margin-bottom:8px;}
.card-img-top{max-width: 100%;-moz-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;}
.card-img-top:hover{-moz-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);}
.card-login{width:inherit;margin-left: 0px;}
.card-text{}

/* footer */
.footer{background: #273E74;display: flex;align-items: center;justify-content: center;margin-top: 10px;}
.footer-container{}
.titulo-footer{color:#fff;}
.menu-footer {}
.menu-footer ul{list-style:none;margin: 0px;padding: 0px;}
.menu-footer ul li{}
.menu-footer ul li a{color: #fff}
.menu-footer ul li a:hover{text-decoration: none;}
.icon-git{max-width: 28px;float: inherit;}
.article-footer{}



/* minhas compras */
.compras{
padding:1px;
min-height: 6em;
}
.paisagem{
float: left;    
width: 10%;
}
.descricao{

}
.descricao ul{
    list-style: none;
}
.descricao li{
    
}
.localizacao{
    margin-left: 7%;
}
.hr{
    clear: both;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0));
}
.link-compra{
    color: rgb(66, 99, 179);
}
.empty{
    width: 100%;
}
